* {
    font-family: 'Roboto', sans-serif;
}

.hero, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero {
    height:50vh;
    margin:-8px;
}

.header {
    display:flex;
    justify-content:space-around;
}

ul {
    display:flex;
    list-style-type: none;
    gap:24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

.intro {
    display:flex;
    justify-content:space-around;
    margin:55px 160px;
}

.left {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content {
    display:flex;
    flex-direction:column;
    align-items:center;
    height:50vh;
}

.frames {
    display:flex;
    margin:36px;
    text-align:center;
    max-width:100%;
}

img {
    border:2px solid #3882f6;
    border-radius:4%;
    width:140px;
    height:180px;
}

.img {
    inline-size:240px;
}

.img-text {
    font-size:14px;
}

.quote {
    background-color:#E5E7EB;
    height:45vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:-8px;
}

.text {
    font-size:36px;
    font-style: italic;
    color:#1F2937;
}

.author {
    font-weight:bold;
    align-self:flex-end;
}

.quote-text {
    display:flex;
    flex-direction:column;
    padding: 216px;
    gap:16px;
}

.call {
    background-color: #3882f6;
    margin: 48px 128px;
    border-radius: 4px;
    color: white;
    display:flex;
    padding:36px;
    justify-content:space-around;
}

.last {
    height:30vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

footer {
    height:6vh;
    margin:-8px;
    display:flex;
    justify-content:center;
    align-items:center;
}